@media (max-width: 1200px) {
    .portfolio {
        max-width: 950px;
    }
}
@media (max-width: 992px) {
    .portfolio {
        max-width: 95%;
    }
    .portfolio__grid {
        grid-gap: 20px;
    }
}
@media (max-width: 768px) {
    .portfolio {
        max-width: 90%;
    }
    .portfolio__about-info {
        font-size: 17px; 
    }
    .portfolio__about-me {
        justify-content: space-between;
    }
    .portfolio__about-me-img {
        margin-left: 0;
    }
    .portfolio__title {
        font-size: 35px;
    }
    .portfolio__title::after {
        margin: 24px auto 0;
    }
    .portfolio__grid {
        margin-top: 32px;
    }
    .portfolio__grid {
        grid-template-columns: 1fr;
        grid-gap: 40px 0;
    }
}
@media (max-width: 630px) {
    .portfolio__about-me-img {
        width: 160px;
        height: 220px;
    }
}
@media (max-width: 576px) {
    .portfolio__about-info--dev .text-line:first-child {
        font-size: 27px;
    }
    .portfolio__about-info--dev .text-line:nth-child(n+2) {
        font-size: 20px;
    }
    .portfolio__about-me-img {
        display: none;
    }
}
@media (max-width: 420px) {
    .portfolio {
        max-width: 95%;
    }
    .portfolio__about-info--dev .text-line:first-child {
        font-size: 25px;
    }
    .portfolio__about-info--dev .text-line:nth-child(n+2) {
        font-size: 18px;
    }
    .portfolio__body {
        margin-top: 40px;
    }
    .portfolio__title {
        font-size: 30px;
    }
    .portfolio__title::after {
        margin: 18px auto 0;
        height: 3px;
    }
    .portfolio__about-info {
        font-size: 16px; 
    }
    .portfolio__about-info-icon {
        width: 16px;
    }
    .portfolio__about-info:nth-of-type(n+2) {
        margin-top: 15px;
    }
    .portfolio__item-title {
        font-weight: 600;
    }
    .portfolio__item-text {
        margin-top: 7px;
        font-size: 17px;
    }
}
@media (max-width: 380px) {
    .portfolio__title {
        font-size: 28px;
    }
    .portfolio__about-info {
        font-size: 15px;
    }
}
@media (max-width: 330px) {
    .portfolio__about-info {
        font-size: 14px;
    }
    .portfolio__about-info--geo .portfolio__about-info-icon {
        bottom: 0;
    }
}